<%= stylesheet_link_tag 'tax_calculator', media: 'all' %>
<div class="tax-container">
	<div class="tax-details">
	    <h3>Tax Details</h3>
	        <div class="tax-form-group">
	            <label for="starting_balance">Income</label>
	            <input type="number" id="income" name="income" placeholder="$45,000" />
	        </div>

			<div class="tax-form-group">
				<label for="state">Residence</label>
			    <select id="state" name="state">
			        <option value="California">California</option>
			    </select>
			</div>
	</div>

	<div class="tax-chart-section">
		<h3>Tax Pie Chart</h3>
	    <canvas id="taxChart"></canvas>
	    <script>
	    	document.addEventListener('turbo:load', (event) => {
	        console.log("HELLOI THIS TIS A TEST");
	        function calculateFederalTax(income) {
	        	const FEDERAL_TAX_BRACKETS = [
		            { rate: 0.10, lowerBound: 0, upperBound: 11000 },
		            { rate: 0.12, lowerBound: 11001, upperBound: 44725 },
		            { rate: 0.22, lowerBound: 44726, upperBound: 95375 },
		            { rate: 0.24, lowerBound: 95376, upperBound: 182100 },
		            { rate: 0.32, lowerBound: 182101, upperBound: 231250 },
		            { rate: 0.35, lowerBound: 231251, upperBound: 578125 },
		            { rate: 0.37, lowerBound: 578126, upperBound: Infinity }
		        ];
	            let tax = 0;
	            const standardDeduction = 13850;
	            income -= standardDeduction;

	            for (const bracket of FEDERAL_TAX_BRACKETS) {
	                if (income > bracket.lowerBound) {
	                    const taxableAmount = Math.min(income - bracket.lowerBound, bracket.upperBound - bracket.lowerBound);
	                    tax += taxableAmount * bracket.rate;
	                }
	            }

	            return tax;
	        }

	        function socialSecurityTax(income) {
	            return income * 0.062;
	        }

	        function medicareTax(income) {
	            return income * 0.0145;
	        }

	        function stateTax(income){
	        	const CALIFORNIA_TAX_BRACKETS = [
		            { rate: 0.01, lowerBound: 0, upperBound: 10412 },
		            { rate: 0.02, lowerBound: 10413, upperBound: 24684 },
		            { rate: 0.04, lowerBound: 24685, upperBound: 38959 },
		            { rate: 0.06, lowerBound: 38960, upperBound: 54081 },
		            { rate: 0.08, lowerBound: 54082, upperBound: 68350 },
		            { rate: 0.093, lowerBound: 68351, upperBound: 349137 },
		            { rate: 0.103, lowerBound: 349138, upperBound: 418961 },
		            { rate: 0.113, lowerBound: 418962, upperBound: 698271 },
		            { rate: 0.123, lowerBound: 698272, upperBound: Infinity },
		        ];
	        	let tax = 0;
				const stateStandardDeduction = 5363;
	            income -= stateStandardDeduction;
	            for (const bracket of CALIFORNIA_TAX_BRACKETS) {
	                if (income > bracket.lowerBound) {
	                    const taxableAmount = Math.min(income - bracket.lowerBound, bracket.upperBound - bracket.lowerBound);
	                    tax += taxableAmount * bracket.rate;
	                }
	            }

	            return tax;
	        }

	        function totalFederalTax(income) {
	            return calculateFederalTax(income) + socialSecurityTax(income) + medicareTax(income);
	        }

	        // Initialize chart
	        const tax_ctx = document.getElementById('taxChart').getContext('2d');
	        const taxChart = new Chart(tax_ctx, {
	            type: 'pie',
	            data: {
	                labels: ['Net Income', 'Federal Tax', 'Social Security Tax', 'Medicare Tax', 'State Tax'],
	                datasets: [{
	                    label: 'Tax Distribution',
	                    data: [0, 0, 0, 0, 0],
	                    backgroundColor: [
	                        'rgba(54, 162, 235, 0.7)',
	                        'rgba(255, 99, 132, 0.7)',
	                        'rgba(255, 206, 86, 0.7)',
	                        'rgba(255, 0, 86, 0.7)',
	                        'rgba(153, 102, 255, 0.7)'
	                    ],
	                    borderColor: [
	                        'rgba(54, 162, 235, 1)',
	                        'rgba(255, 99, 132, 1)',
	                        'rgba(255, 206, 86, 1)',
	                        'rgba(255, 0, 86, 1)',
	                        'rgba(153, 102, 255, 1)'
	                    ],
	                    borderWidth: 1
	                }]
	            },
	            options: {
	                responsive: true,
	                plugins: {
	                    legend: {
	                        display: true,
	                        position: 'top'
	                    },
	                    tooltip: {
	                        callbacks: {
	                            label: function(tooltipItem) {
	                                return '$' + tooltipItem.raw.toLocaleString();
	                            }
	                        }
	                    }
	                }
	            }
	        });

	        // Update chart based on user input
	        function updatePieChart() {
	            const incomeInput = document.getElementById('income');
	            const income = parseFloat(incomeInput.value) || 0;

	            const federalTax = calculateFederalTax(income);
	            const socialSecurity = socialSecurityTax(income);
	            const medicare = medicareTax(income);
	            const state = stateTax(income);
	            const netIncome = income - federalTax - socialSecurity - medicare - state;

	            taxChart.data.datasets[0].data = [netIncome, federalTax, socialSecurity, medicare, state];
	            taxChart.update();

	            document.getElementById('fed_income_tax').textContent = '$' + federalTax.toLocaleString(undefined, { minimumFractionDigits: 2, maximumFractionDigits: 2 });
	            document.getElementById('social_security_tax').textContent = '$' + socialSecurity.toLocaleString(undefined, { minimumFractionDigits: 2, maximumFractionDigits: 2 });
	            document.getElementById('medicare_tax').textContent = '$' + medicare.toLocaleString(undefined, { minimumFractionDigits: 2, maximumFractionDigits: 2 });
	            document.getElementById('state_income_tax').textContent = '$' + state.toLocaleString(undefined, { minimumFractionDigits: 2, maximumFractionDigits: 2 });
	            document.getElementById('net_income_value').textContent = '$' + netIncome.toLocaleString(undefined, { minimumFractionDigits: 2, maximumFractionDigits: 2 });

	            if (income != 0){
	            let percent = ((federalTax + socialSecurity + medicare + state) / income) * 100;
	            document.getElementById('tax_percent').textContent = percent.toLocaleString(undefined, { minimumFractionDigits: 2, maximumFractionDigits: 2 });
	        }
	            
	        }

		    // Event listeners for input changes
		    document.getElementById('income').addEventListener('input', updatePieChart);
		    document.getElementById('state').addEventListener('change', updatePieChart);

		    updatePieChart();

			});


			
		</script>
	</div>

	<div class="tax-info">
		
		<h3>Where are your taxes going?</h3>

		<p> 
			Federal Income Tax: <span id="fed_income_tax"></span> 
			<br/>
			Social Security: <span id="social_security_tax"></span> 
			<br/>
			Medicare: <span id="medicare_tax"></span> 
			<br/>
			State Income Tax: <span id="state_income_tax"></span> 
		</p>

		<h4>Your Net Income: <span id="net_income_value"></span>  </h4>
		<br/>
		<p class="percent_id"><span id="tax_percent"></span>% of your gross income went to tax</p>


	</div>
</div>

<div class="tax-oat">
  <%= image_tag 'snowtala.jpg', id: 'tax-oat-image', class: 'oat-tax-specs', alt: 'tax Oat Explanation' %>
  <div class="text-content">
    <h3><b>Tax Dodger Oat's Friendly Advice:</b> Don't try and dodge taxes unless you're as cute as me... it won't end well for you...</h3>
    <br/>
    <p>	It might be demoralizing seeing all of your money go to the government, but just remember, with the new bill congress passed, your tax dollars are buying me all kinds of toys!</p>
    <br/>
    <p>
    	And I know California seems like a tax-heavy state, but remember, I live here! So if you want to be with a literal ray of sunshine and happiness, you'd better move out here!
    </p>
    <br/>
    <p class="ps">
    	*Personal Income Taxes can be complex so this is an oversimplified calculator
    </p>
  </div>
</div>