<% if user_signed_in? %>
	<%= stylesheet_link_tag 'property', media: 'all' %>
	<div class="property-details">
	    <h3>Properties</h3>
	    <script>
	    	document.addEventListener('DOMContentLoaded', (event) => {
			    console.log('DOMContentLoaded inlined triggered');
			});

	    </script>
	    <button id="addPropertyButton" class="add-property-button">Add Property</button>
	    
	    <!-- Modal -->
		<div id="propertyModal" class="modal">
		  <div class="modal-content">
		    <h2>Add New Property<span class="close">&times;</span></h2>
		    <form id="propertyForm">
		        <label class="property-label" for="location">Location/Address</label>
		        <input class="property-input" type="text" id="location" name="location" required>
		        <br/>

		        <label class="property-label" for="revenue">Revenue (Per Month)</label>
		        <input class="property-input" type="number" id="revenue" name="revenue" required>
		        <br/>

		        <label class="property-label" for="expenses">Operating Costs (Per Month)</label>
		        <input class="property-input" type="number" id="expenses" name="expenses" required>
		        <br/>

		        <button type="submit">Add Property</button>
		    </form>
		  </div>
		</div>
	    
	    <!-- Property Table -->
	    <table id="propertyTable" class="property-table">
	        <thead>
	            <tr>
	                <th>Location/Address</th>
	                <th>Revenue</th>
	                <th>Operating Costs</th>
	                <th>Edit</th>
	            </tr>
	        </thead>
	        <tbody>
	        </tbody>
	    </table>
	    <h4>Total Profit (Per Month): <span id="total_profit_value">$</span></h4>
	</div>

	<div class="property-oat">
	  <%= image_tag 'work.jpg', id: 'property-oat-image', class: 'oat-property-specs', alt: 'Property Oat Explanation' %>
	  <div class="text-content">
	    <h3><b>Property Mogul Oat's Friendly Advice:</b> Make your dreams of being a landlord a reality! </h3>
	    <br/>
	    <p>	I own countless properties across California that generate a significant passive income stream. In fact, I make so much money from them that I get to hang out in my dog bed all day at my mom's work! And if she's not giving me enough attention, I'll play with my best friend Malka and my favorite tennis balls! And although I'm a master negotiator and businessdog, don't be deterred, you can live this lifestyle too! Happy property hunting!*</p>
	    <br/>
	    <p class="ps">
	    	*But don't you dare step on my turf, all of Southern California is mine...
	    </p>
	    </p>
	  </div>
	</div>

<% else %>
	<h3>Please Sign in to view your Properties.</h3>
<% end %>