<% if user_signed_in? %>

	<div class="net-worth-container">
        <div class="net-worth-details">
            <h3>Net Worth: $</h3>
            <br/>
            <p>-  % D/D</p>
			<p>-  % W/W</p>
			<p>-  % M/M</p>
			<p>-  % Y/Y</p>
			<p>-  % All-Time</p>
        </div>

        <div class="net-worth-chart-section">
            <canvas id="moneyChart"></canvas>
            	<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
				<script>
					  document.addEventListener('turbo:load', function() {
					  const labels = ["8/2024"];
					  const data = [14000];

					  const ctx = document.getElementById('moneyChart').getContext('2d');
					  const moneyChart = new Chart(ctx, {
					    type: 'line',
					    data: {
					      labels: labels,
					      datasets: [{
					        label: 'Net Worth',
					        data: data,
					        backgroundColor: 'rgba(75, 192, 192, 0.2)',
					        borderColor: 'rgba(75, 192, 192, 1)',
					        borderWidth: 2
					      }]
					    },
					    options: {
					      scales: {
					        y: {
					          beginAtZero: true,
					          title: {
					            display: true,
					            text: '$'
					          }
					        }
					      }
					    }
					  });
					});
				</script>
        </div>
    </div>



	<div class="net_worth-oat">
	  <%= image_tag 'grass_oat.jpg', id: 'net-worth-oat-image', class: 'oat-net-worth-specs', alt: 'Net Worth Oat' %>
	  <div class="text-content">
	    <h3><b>Billionaire Oat's Friendly Advice:</b> Don't spend too much time obsessing over this graph! Money changes over time!</h3>
	    <br/>
	    <p>	My personal finance journey was one defined by ups and downs. It wasn't until I was adopted by my mom that I was able to begin making my millions. I owe my mom everything. Mainly because she married my rich step-dad, and he's the one who has bankrolled all my business ventures. Thanks for marrying rich mom!  </p>
	    <br/>
	    <p>
	    	x
	    </p>
	  </div>
	</div>

<% else %>
	<h3>Please Sign in to view your Finances.</h3>
<% end %>
