/* Ensure the total balance is centered and occupies its own space */
.total-balance-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 20px; /* Adjust spacing between the details and chart */
}

/* Total balance styling */
.total-balance {
  text-align: center;
}

/* Total balance text */
.total-balance h2 {
  font-size: 1.3em;
  margin: 0;
  color: #333;
}

/* Total balance amount */
#balance-amount {
  font-size: 1.3em;
  color: #2e7d32; /* Green color */
  font-weight: bold;
}



/* General form styling */
.investment-details {
  background-color: #f9f0e5;
  padding: 20px;
  width: 300px;
  border-radius: 8px;
}

.investment-details h3 {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  font-size: 14px;
  margin-bottom: 5px;
  display: block;
  color: #333;
}

.form-group input,
.form-group select {
  width: 100%;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}

.form-group input[type="number"]::placeholder {
  color: #999;
}

.form-group .units {
  font-size: 14px;
  color: #666;
  margin-left: 5px;
}

.frequency-buttons {
  display: flex;
  justify-content: space-between;
}

.frequency-btn {
  padding: 10px 20px;
  font-size: 14px;
  border: 1px solid #ddd;
  background-color: white;
  color: #333;
  border-radius: 4px;
  cursor: pointer;
  width: 48%;
  text-align: center;
}

.frequency-btn.active {
  border-color: #007bff;
  color: #007bff;
  background-color: white;
}

.frequency-btn:hover {
  background-color: #f1f1f1;
}


/* Container to hold both the input fields and the chart */
.investment-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px;
  height: 100%;
}

/* Fixed width for the input section */
.input-section {
  width: 300px; /* Fixed width for the input fields */
  background-color: #f5f5f5;
  padding: 20px;
  border-radius: 8px;
  padding-top: 50px;
}

/* Style each input */
.input-section input {
  display: block;
  width: 100%;
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Flex-grow for the chart section to fill remaining space */
.chart-section {
  flex-grow: 1;
  padding: 20px;
  display: flex;
  flex-direction: column; /* Stack content vertically */
}

/* Make sure the chart canvas takes the remaining available space */
.chart-section canvas {
  flex-grow: 1; /* This ensures the chart fills the remaining space */
  width: 100% !important;
  height: 100% !important;
}







