.property-details {
    margin-top: 50px;
    background-color: #f9f0e5;
    padding: 20px;
    border-radius: 8px;
    flex-grow: 1;
}

.property-details h3 {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 20px;
    text-align: center;
}
.property-details h4 {
    font-weight: bold;
    font-size: 20px;
    margin-top: 20px;
    text-align: center;
}

#total_profit_value {
  font-size: 1.2em;
  color: #2e7d32; /* Green color */
  font-weight: bold;
}

.property-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    table-layout: fixed;
}

.property-table td {
    border: 1px solid #ddd;
    background-color: #f1f1f1;
    padding: 10px;
    text-align: left;
    width: 20%;
}

.property-table th {
    background-color: #ebecf0;
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
    width: 20%;
}

.property-oat {
  margin-top: 30px;
  display: flex;               /* Flexbox layout to align image and text horizontally */
  align-items: flex-start;     /* Align items at the top of the container */
  background-color: #f9f0e5;   /* Beige background color */
  padding: 10px;               /* Padding inside the border */
  border-radius: 8px;          /* Optional: Slight rounding of border corners */
  width: 100%;                 /* Make sure the border spans the full width */
  box-sizing: border-box;      /* Include padding in the element's total width */
  margin-bottom: 20px;         /* Space below the container */
}

.oat-property-specs {
  width: 200px;
  height: auto;
  margin-right: 15px;          /* Space between the image and the text container */
}

.ps {
  font-size: 10px;
}
.add-property-button {
    background-color: #f1f1f1; /* Light gray background */
    color: #333; /* Darker gray for the plus sign */
    border: 2px solid #333;;
    border-radius: 5px; /* Square button with slightly rounded corners */
    width: 100px; /* Square size */
    height: 30px;
    font-size: 12px; /* Size of the plus sign */
    font-weight: bold;
    cursor: pointer;
    display: flex;
    float: right; /* Align the button to the right */
    margin-top: -40px;
    margin-bottom: 10px;
    align-items: center;
    justify-content: center;
}

.add-property-button:hover {
    background-color: #bbb; /* Darken the background on hover */
}

/* The Modal (hidden by default) */
.modal {
    display: none; /* Hidden by default */
    position: fixed;
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4); /* Black background with opacity */
}

/* Modal Content */
.modal-content {
    background-color: #f9f0e5;
    margin: 8% auto; /* 8% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 50%; /* Could be more or less, depending on screen size */
}

/* Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.property-label{
    margin-top: 15px;
}

.property-input{
    width: 100%;
    margin-top: 10px;
}

form button {
    margin-top: 15px;
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    border: none;
    cursor: pointer;
}

form button:hover {
    background-color: #218838;
}

.edit-btn{
    background-color: #f1f1f1; /* Light gray background */
    color: #333; /* Darker gray for the plus sign */
    border: 2px solid #333;;
    border-radius: 5px; /* Square button with slightly rounded corners */
    width: 50px;
    height: 30px;
    font-size: 12px; /* Size of the plus sign */
    font-weight: bold;
    cursor: pointer;
    margin-right: 10px;
    align-items: center;
    justify-content: center;
}

.delete-btn{
    background-color: #f1f1f1; /* Light gray background */
    color: #333; /* Darker gray for the plus sign */
    border: 2px solid #333;;
    border-radius: 5px; /* Square button with slightly rounded corners */
    width: 60px;
    height: 30px;
    font-size: 12px; /* Size of the plus sign */
    font-weight: bold;
    cursor: pointer;
    margin-right: 10px;
    align-items: center;
    justify-content: center;
}

.edit-btn:hover {
    background-color: #bbb; /* Darken the background on hover */
}

.delete-btn:hover {
    background-color: #bbb; /* Darken the background on hover */
}






